<div class='cart'>
  <h4>Your Cart</h4>
  <hr>
  <% if @cart.line_items.empty? %>
    <p>nothing here yet ... why not add something.</p>
  <% else %>
    <table>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Cost</th> 
      </tr>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.product.title %></td>
        <td><%= item.quantity %></td>
        <td><%= item.total %></td>
       </li>
    <% end %>
    <tr>
      <td>Cart Total</td>
      <td></td>
      <td><%= @cart.total %></td>
    </tr>
   </table>
  <% end %>
</div>

    