<h1>Harmonious Store : Products</h1>

<ul class='products'>
<% @products.each do |product| %>
  <li>
    <h4>
      <%= h product.title %>
      <span class='price'><%= number_to_currency(product.price) %></span>
    </h4>
    <a href="/products/<%= product.id %>" class='post_link right'>Add to cart</a>
  </li>
<% end %>
</ul>

<div class='cart'>
  <h4>Your Cart</h4>
</div>

